<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "startDao" class="com.lzc.module.start.dao.impl.StartDaoImpl"/>

    <bean id = "startService" name="alias1 alias2 alias3" scope="prototype" class="com.lzc.module.start.service.impl.StartServiceImpl">
        <property name="startDao" ref="startDao"/>
    </bean>

</beans>